<!-- duplicated the product-list.handlebars code.
    Need to update with correct syntax -->

<tbody class="cart-table">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  {{#each products as |product|}}
  console.log(product)
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.price}}</td>
      <td >
        <form class="order-product">
          <input type="hidden" placeholder="{{product.name}}" name="product[Name]">
          <input type="hidden" placeholder="{{product.category}}" name="product[Category]">
          <input type="hidden" placeholder="{{product.price}}" name="product[Price]">
          <button type="submit" class="btn btn-success add-to-cart-btn">Add to Cart</button>
        </form>
      </td>
    </tr>
  {{/each}}
</tbody>
